.navbar, footer, .bg-custom {
    background-color: #055F53;
}
.bg-custom {
    color: #fff;
}
.nav-link {
    color: #fff !important;
    margin: 2px 5px;
}
.nav-link:hover {
    border: 1px solid #fff;
    border-radius: 10px;
}
footer a {
    text-shadow: 1px 1px 1px #000;
}
footer a:hover {
    color: lightblue;
    text-decoration: none;
}
.bg-imagem {
    background-image: url(imgs/samsung-4721549_960_720.jpg);
    height: 42vw;
    background-repeat: no-repeat;
    background-size: cover;
}
#imgcontainer h2{
    text-shadow: 1px 1px 1px #000;
}
ul {
    list-style: none;
}
#galery h2 {
    background-color: #055f538f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
#contact {
    background-color: #06799f5b;
    border-radius: 20px;
    padding: 10px;
}
#contact a {
    color: #000;
}
#contact i {
    color: #055F53;
}
.redes li {
    font-size: 1.2rem;
}
.card-title:hover {
    cursor: pointer;
}